#
# Trusty
#

menu "Trusty"

config TRUSTY
	tristate "Trusty"
	default n

config TRUSTY_SMC_ARM
	tristate
	depends on TRUSTY
	depends on ARM
	default y

config TRUSTY_SMC_ARM64
	tristate
	depends on TRUSTY
	depends on ARM64
	default y

config TRUSTY_LOG
	tristate
	depends on TRUSTY
	default y

config TRUSTY_VIRTIO
	tristate "Trusty virtio support"
	depends on TRUSTY
	select VIRTIO
	default y

endmenu
