comment "HTC Debugging Features"
menuconfig HTC_DEBUG
	bool "HTC Debugging Feature Switch"
	default n
	help
	  Enable collection of debug features.
	  This feature is enabled in defconfig.

config HTC_DEBUG_WORKQUEUE
	bool "HTC style workqueue debug features"
	depends on HTC_DEBUG
	help
	  Say Y here if you want the HTC style workqueue debug features

config HTC_DEBUG_WATCHDOG
	bool "HTC style watchdog debug features"
	depends on HTC_DEBUG && MSM_WATCHDOG_V2
	help
	  Say Y here if you want the HTC style watchdog debug features

config HTC_DEBUG_RTB
	bool "HTC style rtb debug features"
	depends on HTC_DEBUG && MSM_RTB
	help
	  Say Y here if you want the HTC style rtb debug features

config HTC_DEBUG_SSR
	bool "HTC style subsys restart debug features"
	depends on HTC_DEBUG && MSM_SUBSYSTEM_RESTART
	help
	  Say Y here if you want the HTC style subsys restart debug features

config HTC_DEBUG_KP
	bool "HTC style kernel panic debug features"
	depends on HTC_DEBUG
	help
	  Say Y here if you want the HTC style kernel panic debug features

config HTC_DEBUG_CACHE
	bool "HTC style processor cache debug features"
	depends on HTC_DEBUG
	help
	  Say Y here if you want the HTC style processor cache debug features

config HTC_DEBUG_VMALLOC_DUMP
	bool "HTC style vmalloc fail debug features"
	depends on HTC_DEBUG
	default y
	help
	  This option enables the dump for vmalloc info when vmalloc failed.
	  The same information could also be get under /proc/vmallocinfo

config HTC_DEBUG_DSP
	bool "HTC debug feature for trigger ramdump whne lpass related timeout"
	depends on HTC_DEBUG
	default n
	help
	  This option enables the trigger ramdump when lpass command timeout.

config HTC_DEBUG_RAMCONSOLE
	bool "HTC style ram console debug features"
	depends on ANDROID_RAM_CONSOLE
	help
	  Say Y here if you want the HTC style ram console debug features

config HTC_DEBUG_BINDER_WRITE
        bool "HTC debug feature for system_server binder write"
        depends on HTC_DEBUG
        help
          Say Y here if you want the HTC debug feature for system_server binder
          write

config HTC_DEBUG_SEND_SIGNAL
        bool "HTC debug feature for send_signal debug support"
        depends on HTC_DEBUG
        help
          This option enables kernel debug log and dump_stack
          if any processes send signal to assigned processes

config HTC_DEBUG_DYING_PROCS
        bool "HTC debug feature for recording dying processes"
        depends on HTC_DEBUG
        help
          This option enables the recording of latest 10 killed processes in
          /proc/dying_processes

comment "HTC features"
menuconfig HTC_FEATURES
        bool "HTC Implement Features"
        default n
        help
          Enable collection of HTC features.
          This feature is enabled in defconfig.

config HTC_FEATURES_FINAL_EFS_SYNC
	bool "Final EFS SYNC"
	depends on HTC_FEATURES
	default n
	help
	  Enable the trigger of final efs sync before shutdown/reboot
	  This feature is enabled in defconfig.

config HTC_FEATURES_SSR
       bool "HTC style ssr features"
       depends on HTC_FEATURES && MSM_SUBSYSTEM_RESTART
       default n
       help
         Say Y here if you want the HTC style ssr features

config HTC_FEATURES_SSR_MODEM_ENABLE
       bool "HTC style modem ssr features"
       depends on HTC_FEATURES_SSR
       default n
       help
         Say Y here if you want the HTC style for modem ssr features

config HTC_FEATURES_SSR_LPASS_ENABLE
       bool "HTC style lpass ssr features"
       depends on HTC_FEATURES_SSR
       default n
       help
         Say Y here if you want the HTC style for lpass ssr features

config HTC_FEATURES_SSR_WCNSS_ENABLE
       bool "HTC style wcnss ssr features"
       depends on HTC_FEATURES_SSR
       default n
       help

config HTC_DEBUG_FOOTPRINT
       bool "Record footprint on some actions"
       default n
       depends on HTC_DEBUG
       help
         Record footprints for debug tracking.
         Especially for suspend/resume and boot.

config HTC_DEFAULT_ENABLED_FEATURES
	bool "Select default enabled config for HTC projects"
	default y
	select COMPACTION
	help
	  Default y to select other configs which should be enabled by default
	  for HTC projects.

config HTC_BUILD_EDIAG
        bool "Build in embedded diag fixes"
        default n
        help
          For embedded diag we need to do some additional fixes.

config ENLARGE_RADIO_BUFFER
        bool "Enlarge radio buffer"
        default n
        help
          Enlarge radio buffer for two rild project.

config HTC_RPM_CMD
	bool "HTC homebrew command interface"
	depends on MSM_RPM || MSM_RPM_SMD
	default n
	help
	  This expose HTC RPM command interface for different purpose.

config HTC_POWER_HACK
       bool "HTC POWER HACK"
       help
         Say Y here if HTC POWER HACK

config HTC_DEBUG_RIL_PCN0005_HTC_DUMP_SMSM_LOG
	tristate "HTC_DEBUG_RIL_PCN0005_HTC_DUMP_SMSM_LOG"
	default n
	depends on MSM_SMD
	---help---
	  Dump SMSM log message

config HTC_DEBUG_RIL_PCN0006_HTC_DUMP_BAM_DMUX_LOG
	tristate "HTC_DEBUG_RIL_PCN0006_HTC_DUMP_BAM_DMUX_LOG"
	default n
	depends on MSM_BAM_DMUX
	---help---
	  Dump BAM DMUX log message
