config DIRTY_SYSTEM_DETECTOR
        default y
        bool "HTC dirty file detector for /system partition"

config HTC_PROCESS_DEBUG
        bool "process/thread debug support"
        default y
        help
	  This option enables kernel debug log to check if any
          assigned process receives signal or unexpected exit

config HTC_DEBUG_SAVE_BOOT_MSG
        default n
        bool "HTC debug: saving kernel log of booting to memory"

config HTC_DEBUG_REPORT_MEMINFO
        depends on SLUB && TRACING
        default y
        bool "HTC debug: Report memory usage which is not included in /proc/meminfo, such as kmalloc, dma, ftrace"
        help
          Enable this will get more memory report entries in /proc/meminfo

config HTC_INIT_COREDUMP
        depends on ELF_CORE
        default n
        bool "HTC debug: enable coredump for INIT"
        help
          Enable COREDUMP for INIT.

