# SPDX-License-Identifier: GPL-2.0-only
menu "DEV_SW_SYNC options"

config DEV_SW_SYNC
	bool "Sync File Validation Framework implemented through a Linux device"
	default n
	depends on SYNC_FILE && !SW_SYNC
	help
	  A sync object driver that uses a 32bit counter to coordinate
	  synchronization.  Useful when there is no hardware primitive backing
	  the synchronization.

	  WARNING: improper use of this can result in deadlocking kernel
	  drivers from userspace. Intended for test and debug only.

endmenu
