// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 */

/ {
	pwmleds {
		compatible = "pwm-leds";
		keyboard_backlight: keyboard-backlight {
			label = "cros_ec::kbd_backlight";
			pwms = <&cros_ec_pwm 3>;
			max-brightness = <1023>;
		};
	};
};

&cros_ec {
	mt_pmic_vmc_ldo_reg: regulator@0 {
		compatible = "google,cros-ec-regulator";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <3600000>;
		reg = <0>;
	};
	mt_pmic_vmch_ldo_reg: regulator@1 {
		compatible = "google,cros-ec-regulator";
		regulator-min-microvolt = <2700000>;
		regulator-max-microvolt = <3600000>;
		reg = <1>;
	};
	cros_ec_pwm: ec-pwm {
		compatible = "google,cros-ec-pwm";
		#pwm-cells = <1>;
		status = "okay";
	};
};

&i2c2 {
	max98390_r: max98390@38 {
		compatible = "maxim,max98390";
		reg = <0x38>;
		reset-gpios = <&pio 100 GPIO_ACTIVE_HIGH>;
		maxim,dsm_param_name = "dsm_param_R_Google_Dojo.bin";
		status = "okay";
	};

	max98390_l: max98390@39 {
		compatible = "maxim,max98390";
		reg = <0x39>;
		maxim,dsm_param_name = "dsm_param_L_Google_Dojo.bin";
		status = "okay";
	};

};

&mmc1_pins_default {
	pins_cmd_dat {
		drive-strength = <MTK_DRIVE_10mA>;
	};

	pins_clk {
		drive-strength = <MTK_DRIVE_10mA>;
	};
};

&pcie0 {
	status = "okay";
};

&pio_default{
	low_power_pu_pd_pins {
		pinmux = <PINMUX_GPIO8__FUNC_GPIO8>,
			 <PINMUX_GPIO9__FUNC_GPIO9>,
			 <PINMUX_GPIO25__FUNC_GPIO25>,
			 <PINMUX_GPIO26__FUNC_GPIO26>,
			 <PINMUX_GPIO46__FUNC_GPIO46>,
			 <PINMUX_GPIO47__FUNC_GPIO47>,
			 <PINMUX_GPIO48__FUNC_GPIO48>,
			 <PINMUX_GPIO65__FUNC_GPIO65>,
			 <PINMUX_GPIO66__FUNC_GPIO66>,
			 <PINMUX_GPIO67__FUNC_GPIO67>,
			 <PINMUX_GPIO68__FUNC_GPIO68>,
			 <PINMUX_GPIO128__FUNC_GPIO128>,
			 <PINMUX_GPIO129__FUNC_GPIO129>;
		input-enable;
		bias-pull-down;
	};

	low_power_no_hdmi_pins {
		pinmux = <PINMUX_GPIO31__FUNC_GPIO31>,
			 <PINMUX_GPIO32__FUNC_GPIO32>,
			 <PINMUX_GPIO33__FUNC_GPIO33>,
			 <PINMUX_GPIO34__FUNC_GPIO34>,
			 <PINMUX_GPIO35__FUNC_GPIO35>;
		input-enable;
		bias-pull-down;
	};
};

&i2c4 {
	/delete-node/ touchscreen@10;

	touchscreen: touchscreen@15 {
		compatible = "hid-over-i2c";
		reg = <0x15>;
		interrupt-parent = <&pio>;
		interrupts = <92 IRQ_TYPE_LEVEL_LOW>;
		interrupts-extended = <&pio 92 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_pins>;

		post-power-on-delay-ms = <10>;
		hid-descr-addr = <0x0001>;

		vdd-supply = <&pp3300_s3>;
	};
};

&sound {
	compatible = "mediatek,mt8195_mt6359_max98390_rt5682";
	model = "m8195_m98390_5682s";
	mediatek,dptx-codec = <&dp_tx>;
};

&audio_codec {
	realtek,amic-delay-ms = <250>;
	status = "okay";
};
