// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2024 Google LLC
 */

/dts-v1/;
#include "mt8186-corsola-skitty.dtsi"

/ {
	model = "Google Skitty sku3 board";
	compatible = "google,skitty-sku3",
		"google,skitty", "google,corsola", "mediatek,mt8186";
};

&i2c1 {
	/delete-node/ touchscreen@10;
	touchscreen: touchscreen@10 {
		compatible = "elan,ekth3500";
		reg = <0x10>;
		interrupts-extended = <&pio 12 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
	};
};

&keyboard_controller {
	linux,keymap = <
		MATRIX_KEY(0x04, 0x00, KEY_102ND)
	>;
};
